core/*.class
core/*.jar
core/.idea/*
core/*.iml
core/target/*
api/target/*
core/.DS_Store
core/target/
core/DataPullHistory/*
core/SparkLogs/*
core/JobHistory/*
core/*.crc
.DS_Store
core/ha-dev-data-datatools-us-east-1/
api/.classpath
api/.factorypath
api/.project
core/.classpath
core/.project
api/.settings/
core/.settings/
api/terraform/datapull_task/the_plan.tfplan
api/terraform/datapull_task/terraform.tfstate
api/terraform/datapull_task/terraform.tfstate.backup
api/bin/
api/src/main/resources/*.properties-e
core/src/main/resources/*.conf-e
api/terraform/datapull_iam/.terraform/
api/terraform/datapull_iam/the_plan.tfplan
api/terraform/datapull_iam/terraform.tfstate
api/terraform/datapull_iam/terraform.tfstate.backup
api/terraform/datapull_task/.terraform/
api/terraform/datapull_task/.terraform/*
*.crc
api/.idea/*
api/*.iml
*.idea
*.iml
*.jar
*.class
docs/site/
core/m2/*
api/m2/*
api/src/main/resources/application.yml
core/src/main/resources/application.yml
